{% extends "layout.html" %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
    <!-- 3-12-22, Kate: FlashBag messages output starts -->
    {% for message in app.session.flashbag.get("msg") %}
        <div class="col-md-12 alert alert-{{ message.class }} fade in" role="alert" style="margin-top:1rem;">
            {{ message.message|raw }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    {% endfor %}
    <!-- 3-12-22, Kate: FlashBag messages output ends -->
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th class="center">#</th>
        <th class="center">User</th>
        <th class="center">Description</th>
        <!-- 4-12-22, Kate, Task-2: new <th> -->
        <th class="center">Completed</th>
        <th class="center">JSON VIEW</th>
        <th class="center"><span class="glyphicon glyphicon glyphicon-trash"></span></th>
        {% for todo in todos %}
            <tr>
                <td class="center">{{ todo.id }}</td>
                <td class="center">{{ todo.user_id }}</td>
                <td class="center">
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <!-- 4-12-22, Kate, Task-2: new table column for 'completed' starts -->
                <td class="center">
                    <form method="post" action="{{ app.request.baseurl }}/todo/set_completed/{{ todo.id }}">
                        {% if todo.completed == 'Y' %}
                           <button type="submit" class="btn btn-xs btn-success">
                             <span class="glyphicon glyphicon-ok glyphicon-white"></span>
                           </button> 
                        {% else %}
                           <button type="submit" class="btn btn-xs btn-light">
                             <span class="glyphicon glyphicon-white">&nbsp;</span>
                           </button>
                        {% endif %}        
                    </form>
                </td>
                <!-- 4-12-22, Kate, Task-2: new table column for 'completed' ends -->
                <!-- 4-12-22, Kate, Task-3: JSON View starts -->
                <td class="center">
                    <form method="post" action="{{ app.request.baseurl }}/todo/view_in_json/{{ todo.id }}">
                           <button type="submit" class="btn btn-xs btn-light">
                             <span class="glyphicon glyphicon-white">JSON</span>
                           </button>      
                    </form>  
                </td>
                <!-- 4-12-22, Kate, Task-3: JSON View ends -->
                <td class="center">
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}
